#board {
  display: flex;
  justify-content: space-between;
}

/* Column */
.column {
  margin-left: 25px;
}

/* Card */
.card {
  width: 100%;
}

.card #title {
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
