/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  padding: 1rem 1rem;
}

#board {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* Column */
.column {
  width: 100%;
  margin: 0 12.5px;
}

.column:first-child {
  margin-left: 25px;
}

.column:last-child {
  margin-right: 25px;
}

/* Card */
.card #title {
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* AddCard */
#addCard {
  color: grey;
}
